<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HJA Shoes</title>
</head>
<body>
    <header>
        <div>
            <a href="/products/">Home</a>
            <a href="/products/new">Create</a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <h4>© Copyright 2022 | HJA Web Developer. All rights reserved.</h4>
    </footer>
</body>
</html>